html {
    box-sizing: border-box;
    font-size: 62.5%;/* 1 rem = 10px */
  }
  *, *:before, *:after {
    box-sizing: inherit;
  }


html,body{
    width: 100%;
    overflow-x: hidden;
}

:root{
    --blanco:hsl(0, 0%, 100%);
    --grisClaro:hsl(212, 45%, 89%);
    --azulGrisacio:hsl(220, 15%, 55%);
    --azulOscuro:hsl(218, 44%, 22%);
}
body {
    font-family: var(--fuentePrincipal);
    line-height: 1.8;
    font-size: 1.5rem;
    font-family: 'Outfit', sans-serif;
    background-color: var(--grisClaro);
}
h1, h2, h3 {
    font-weight: 900;
    margin: 2rem 0;
}
h1 {
    font-size: 5rem;
}
h2 {
    font-size: 4.6rem;
}
h3 {
    font-size: 3rem;
}
a {
    text-decoration: none;
}
img {
    max-width: 100%;
    display: block;
}
.contenedor {
    max-width: 120rem;
    margin: 0 auto;
    width: 90%;
}
/* QR  */
.section{
    padding-top: 10rem;
}

.container-content{
    height: 50rem;
    width: 30rem;
    margin: 0 auto;
    background-color: var(--blanco);
    padding:2rem;
    border-radius: 1rem;
}

.container-img img{
    margin: 0 auto;
    height: 25rem;
    width: 30rem;
    border-radius: 1rem;
    
}

.content-text{
    text-align: center;
}
.content-text h1{
    font-size:2rem;
    margin-bottom: 0;
    color: var(--azulOscuro);
}

.content-text p{
    margin-top: 0;
    color: var(--azulGrisacio)
}